*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
div#container1{
    margin: auto;
    text-align: center;
    background-image:linear-gradient(to right, #b0b0fa, #6f6fdc); 
    padding: 5px;
    color: rgba(0, 0, 103, 0.915)
}
h1{
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
    margin-top: 5px;
}
#res{
    background-color: rgba(0, 0, 103, 0.915);
    color:white;
}
input#botao{
    margin-top: 5px
}